main {
  display: flex;
}

.margins {
  margin: 68px 90px 88px 107px;
  width: 100%;
}

.welcome_message {
  font-size: 48px;
  margin-bottom: 35px;
}

.user_firstname {
  color: #ff0101;
}

.cheering_message {
  margin-bottom: 77px;
}

.dashboard_layout {
  display: flex;
  gap: 31px;
}

.left_column {
  width: 75%;
  min-width: 800px;
}

.user_key_data_cards_container {
  display: flex;
  flex-direction: column;
  gap: 39px;
  width: 25%;
}
